.main-container {
  font-family: "Ubuntu", sans-serif;
  color: #e9e9e9;
  max-width: 1280px;
  max-height: 100vh;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  align-content: center;
}

.titular {
  font-size: 20px;
  height: 60px;
  background: #11a8ab;
}

.inner_text {
  margin-left: 15px;
}

.badge {
  /* padding: 5px; */
  height: 25px;
  /* margin: 7px; */
  border-radius: 3px;
  /* background-color: #e64c65; */
}

.titular_weather {
  background: #cc324b;
}
.weather .titular .icon {
  padding-right: 15px;
  font-size: 26px;
}
.weather .current-day {
  height: 135px;
  background: #e64c65;
}
.weather .current-day p {
  margin: 0;
  padding-left: 50px;
}
.current-day-date {
  font-size: 16px;
  padding-top: 16px;
}
.current-day-temperature {
  font-size: 70px;
}
.current-day-temperature .icon-cloudy {
  padding-left: 20px;
}
/* .weather .next-days {
} */
.weather .next-days p {
  margin: 0;
  display: inline-block;
  font-size: 16px;
}
.weather .next-days a {
  display: block;
  line-height: 58px;
  border-bottom: 1px solid #1f253d;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.weather .next-days a:hover {
  background: #50597b;
}
.weather .next-days a:hover .day {
  color: #e64c65;
}
.weather .next-days-date {
  padding-left: 20px;
}
.weather .next-days-temperature {
  float: right;
  padding-right: 20px;
}
.weather .next-days-temperature .icon {
  padding-left: 10px;
}

header {
  height: 80px;
}
.header-menu {
  font-size: 17px;
  line-height: 80px;
}
.header-menu li {
  position: relative;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
.header-menu-tab {
  padding: 0 27px;
  display: block;
  line-height: 74px;
  font-size: 17px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.header-menu-tab:hover {
  background: #50597b;
  border-bottom: 4px solid #11a8ab;
  text-decoration: none;
}
.header-menu-tab .icon {
  padding-right: 15px;
}
.header-menu-number {
  position: absolute;
  line-height: 22px;
  padding: 0 6px;
  font-weight: 700;
  background: #e64c65;
  border-radius: 100%;
  top: 15px;
  right: 2px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.header-menu li:hover .header-menu-number {
  text-decoration: none;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.profile-menu {
  float: right;
  height: 80px;
  padding-right: 20px;
}
.profile-menu p {
  font-size: 17px;
  display: inline-block;
  line-height: 76px;
  margin: 0;
  padding-right: 10px;
}
.profile-menu a {
  padding-left: 5px;
}
.profile-menu a:hover {
  text-decoration: none;
}
.small-profile-picture {
  display: inline-block;
  vertical-align: middle;
}

.image-inside {
  width: calc(100% - 20px);
  margin: 10px;
}
